In [73]:
import pandas as pd

In [74]:
bx_ratings = pd.read_csv('BX-Book-Ratings.csv')
bx_books = pd.read_csv('BX-Books.csv')
bx_users = pd.read_csv('BX-Users.csv')

In [75]:
bx_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726   155061224          5.0
2   276727   446520802          0.0
3   276729  052165615X          3.0
4   276729   521795028          6.0

In [76]:
print len(bx_ratings), len(bx_books), len(bx_users)

1048574 271379 278851

In [77]:
print len(bx_ratings)
#bx_ratings = bx_ratings[ bx_ratings['Book-Rating'] != 0]
print len(bx_ratings)

1048574
1048574

In [78]:
map_books = {}
for book in bx_ratings['ISBN']:
    if( map_books.get(book) == None):
        map_books[book] = 1
    else:
        map_books[book] += 1

In [79]:
count = 0
for key in map_books.keys():
    if( map_books[key] >= 20):
        count += 1
print count

6693

In [80]:
map_users = {}
for book in bx_ratings['User-ID']:
    if( map_users.get(book) == None):
        map_users[book] = 1
    else:
        map_users[book] += 1

In [81]:
count = 0
for key in map_users.keys():
    if( map_users[key] >= 5):
        count += 1
print count

20651

In [82]:
for key in map_books.keys():
    if( map_books[key] < 20 ):
        map_books.pop(key)
print len(map_books)

6693

In [83]:
bx_ratings = bx_ratings[ bx_ratings.apply( lambda x: x['ISBN'] in map_books , axis = 1) ]

In [84]:
len(bx_ratings)

344375

In [85]:
map_users = {}
for book in bx_ratings['User-ID']:
    if( map_users.get(book) == None):
        map_users[book] = 1
    else:
        map_users[book] += 1
count = 0
for key in map_users.keys():
    if( map_users[key] >= 5):
        count += 1
print count

9891

In [86]:
for key in map_users.keys():
    if( map_users[key] < 5 ):
        map_users.pop(key)
print len(map_users)

9891

In [87]:
bx_ratings = bx_ratings[ bx_ratings.apply( lambda x: x['User-ID'] in map_users, axis = 1) ]

In [88]:
print len(bx_ratings), len(map_users), len(map_books)

282997 9891 6693

In [89]:
average_user = {}
bx_ratings.head()
i = 0
for row in bx_ratings.iterrows():
    #print row[1][0], row[1][1] , row[1][2] , "\n"
    if( row[1][2] > 5 ):
        if( average_user.get(row[1][0]) == None ):
            average_user[row[1][0]] = [row[1][2], 1]
        else:
            average_user[row[1][0]][0] += row[1][2]
            average_user[row[1][0]][1] += 1

final_average = {}
i = 0
for item in average_user.iterkeys():
    final_average[item] = average_user[item][0]*1.0 / average_user[item][1]
    if( i <= 10):
        print type(item),final_average[item]
    i += 1

<type 'int'> 8.35714285714
<type 'int'> 7.28571428571
<type 'int'> 8.5
<type 'int'> 6.0
<type 'int'> 7.66666666667
<type 'int'> 6.66666666667
<type 'int'> 9.87671232877
<type 'int'> 9.0
<type 'int'> 8.57142857143
<type 'int'> 8.66666666667
<type 'int'> 8.06666666667

In [90]:
cnt1 = 0
cnt2 = 0
for i,row in bx_ratings.iterrows():
    if( row['Book-Rating'] == 0 ):
        if( final_average.get(row['User-ID']) != None):
            bx_ratings.set_value(i,'Book-Rating' , int(final_average[ row['User-ID'] ]) )
            cnt1 += 1
        cnt2 += 1
print cnt1

174835

In [91]:
cnt = 0
for row in bx_ratings.iterrows():
    if( row[1][2] == 0):
        cnt += 1
print cnt

9048

In [92]:
bx_ratings = bx_ratings[ bx_ratings.apply( lambda x: x['Book-Rating'] != 0 , axis = 1) ]

In [93]:
cnt = 0
for row in bx_ratings.iterrows():
    if( row[1][2] == 0):
        cnt += 1
print cnt

0

In [94]:
bx_ratings.to_csv("newData/df_ratings.csv", sep=',',index=False)

In [95]:
user_list = {}
book_list = {}
for i,item in bx_ratings.iterrows():
    user_list[item['User-ID']] = 1
    book_list[item['ISBN'] ] = 1

In [96]:
bx_books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,NaN,NaN
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN,NaN
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN,NaN,NaN,NaN
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,NaN,NaN,NaN,NaN
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,NaN,NaN,NaN,NaN

In [97]:
bx_books = bx_books[ bx_books.apply( lambda x: book_list.get( x['ISBN']) != None , axis = 1) ]

In [98]:
bx_users = bx_users[ bx_users.apply( lambda x: user_list.get( x['User-ID']) != None ,axis =1 )]

In [99]:
bx_books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
5,399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,NaN,NaN,NaN,NaN
18,440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,NaN,NaN,NaN,NaN
19,452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,NaN,NaN,NaN,NaN
21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...,NaN,NaN,NaN,NaN
26,971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,NaN,NaN,NaN,NaN

In [100]:
bx_users.head()

,User-ID,Location,Age,Unnamed: 3,Unnamed: 4,Unnamed: 5
98,99,"franktown, colorado, usa",42,NaN,NaN,NaN
113,114,"ligonier, pennsylvania, usa",57,NaN,NaN,NaN
164,165,"olympia, washington, usa",62,NaN,NaN,NaN
242,243,"arden hills, minnesota, usa",NaN,NaN,NaN,NaN
243,244,"college station, texas, usa",NaN,NaN,NaN,NaN

In [101]:
print len(bx_ratings), len(bx_books), len(bx_users)

273949 6508 9403

In [102]:
bx_users = bx_users.drop( [ 'Unnamed: 3' , 'Unnamed: 4' , 'Unnamed: 5' ] , axis = 1)

In [103]:
bx_users.head()

     User-ID                     Location  Age
98        99     franktown, colorado, usa   42
113      114  ligonier, pennsylvania, usa   57
164      165     olympia, washington, usa   62
242      243  arden hills, minnesota, usa  NaN
243      244  college station, texas, usa  NaN

In [104]:
for i,row in bx_users.iterrows():
    tmp = row['Location'].split(',')[-1]
    bx_users.set_value(i,'Location',tmp)

In [105]:
bx_users.head()

     User-ID Location  Age
98        99      usa   42
113      114      usa   57
164      165      usa   62
242      243      usa  NaN
243      244      usa  NaN

In [106]:
country_cnt = {}
country_average = {}
for i,row in bx_users.iterrows():
    #print row['Age']
    if( str(row['Age']) == "nan"):
        #print "Rishabh"
        continue
    if( country_average.get(row['Location'] ) != None ):
        country_average[ row['Location'] ] += int(row['Age'])
        country_cnt[ row['Location'] ] += 1
    else:
        country_average[row['Location'] ] = int(row['Age'])
        country_cnt[row['Location'] ] = 1
for keys in country_average.iterkeys():
    country_average[keys] /= country_cnt[keys]

In [107]:
for i,row in bx_users.iterrows():
    if( str(row['Age']) == "nan" ):
        if( country_average.get( row['Location']) == None ):
            bx_users.set_value(i, 'Age' , 25)
        else:
            bx_users.set_value(i, 'Age' , int(country_average[ row['Location'] ] ) )

In [108]:
bx_users.head()

     User-ID Location Age
98        99      usa  42
113      114      usa  57
164      165      usa  62
242      243      usa  37
243      244      usa  37

In [114]:
for i,item in bx_users.iterrows():
    tmp = int( item['Age'])
    bx_users.set_value(i,'Age' ,tmp )

In [116]:
bx_users['Age'].value_counts()

37     2328
36      500
38      410
33      310
29      270
31      268
30      247
34      239
32      235
26      232
28      231
35      220
25      216
27      208
24      184
23      182
39      148
40      147
41      147
43      145
44      133
42      120
47      113
22      109
49      108
46      104
21      101
50       95
45       93
18       90
       ...
73        5
78        4
11        4
77        3
79        2
75        2
81        2
136       2
3         2
10        2
8         2
9         2
83        2
209       1
4         1
152       1
204       1
201       1
101       1
151       1
148       1
128       1
116       1
100       1
97        1
93        1
90        1
84        1
82        1
239       1
Name: Age, dtype: int64

In [118]:
set( bx_users['Age'] )

{0,
 1,
 2,
 3,
 4,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 90,
 93,
 97,
 100,
 101,
 103,
 116,
 128,
 136,
 148,
 151,
 152,
 201,
 204,
 209,
 239}

In [122]:
for i,item in bx_users.iterrows():
    if( item['Location'] == "" ):
        bx_users.set_value(i,'Location' , "Global")

In [123]:
bx_users.to_csv("newData/df_userss.csv", sep=',',index=False)

In [124]:
bx_books.to_csv("newData/df_bookss.csv" , sep = ',' , index = False)